.crystal-footer {
    background-color: #040c24;
    color: #ffffff;
    font-size: 0.9rem;
}

.footer-logo {
    height: 50px;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    color: #f0a40098;
}

.footer-input {
    flex: 1;
    padding: 0.4rem;
    border: none;
    border-radius: 3px;
}

.footer-btn {
    background-color: #f0a500;
    color: #040c24;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #d18b00;
}

.social-icons a {
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f0a500;
}

@media (max-width: 767px) {

    .footer-links,
    .social-icons {
        text-align: center;
    }

    .d-flex {
        flex-direction: column !important;
    }

    .footer-input {
        margin-bottom: 0.5rem;
    }
}