html,
body {
    overflow-x: hidden;
}

.product-section {
    background: linear-gradient(135deg, #fdfcff, #f4f8ff);
    padding: 80px 20px;
}

.product-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #040c24;
}

/* Link styled as card */
.product-card {
    display: block;
    text-decoration: none;
    border-radius: 18px;
    overflow: hidden;
    background: #040c24;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    text-align: center;

}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-card h6 {
    padding: 15px;
    margin: 0;
    font-weight: 600;
    color: orange;
}

/* Hover effect */
.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.product-card:hover h6 {
    color: white;
}